<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Reports</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1 class="mt-5">All Reports</h1>
    <table class="table mt-4">
        <thead>
            <tr>
                <th>Description</th>
                <th>Created At</th>
                <th>Status</th>
                <th>Image</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="report : ${reports}">
                <td><a th:href="@{/report/{id}(id=${report.id})}" th:text="${report.description}"></a></td>
                <td><span th:text="${#temporals.format(report.createdAt, 'yyyy-MM-dd HH:mm')}"></span></td>
                <td th:text="${report.status}"></td>
                <td>
                    <div th:if="${!report.images.isEmpty()}">
                        <img th:src="@{/images/{id}(id=${report.images[0].id})}" alt="Image" />
                    </div>
                    <div th:if="${report.images.isEmpty()}">
                        <p>No images available.</p>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>